@import  '../../assets/colors/colors';

.block_container{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: $dark;
    display: flex;
    justify-content: space-around;
}

.input{
    font-size: 17;
    padding-top: 15;
    padding-bottom: 15;
    border-radius: 1px;
    border: $white-light;
    border-bottom-width: 1;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
}

.input_pass{
    @extend .input;
    font-family: 'Rubik_400Regular';
    color: white;
}

.block_title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title_main{
    font-family: 'Rubik_600SemiBold';
    font-size: 34px;
    color: $white;
}

.title_sub{
    font-family: 'Rubik_400Regular';
    font-size: 17px;
    color: $white;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    height: 45px;
    padding: 0 30px;
}

.button_title{
    font-family: 'Rubik_600SemiBold';
    font-size: 16px;
    color: $white;
}

.block_button{
    display: flex;
    justify-content: center;
    align-items: center;
}